:root {
    --text-color1: #712B2B;
    --text-color2: #26B6BF;
    --text-color3: #131313;
    --text-color1b: #AA3434;
    --text-color3b: #0C0C0C;

    --background-color: #151419;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    color: var(--text-color1);
    letter-spacing: 5px;
    text-transform: capitalize;
    background-color: var(--background-color);
    overflow-x: hidden;
}


a {
    color: var(--text-color2);
    text-decoration: none;
}

/* NAVBAR */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
}

nav .left a {
    color: var(--text-color2);
    font-size: 22px;
    font-weight: 600;
}

nav .left img {
    vertical-align: middle;
    width: 40px;
    cursor: pointer;
}

nav .right a {
    color: var(--text-color1);
    vertical-align: top;
    margin: 10px 15px;
    letter-spacing: 0px;
    font-size: 13px;
    font-weight: 700;
    transition: 0.3s;
}

nav .right a:hover {
    color: var(--text-color1b);
}

nav .right .two {
    color: var(--text-color1b);
}

nav .right a span {
    margin-left: 5px;
}

/* SECTION 1 */
.introduction {
    display: flex;
    flex-direction: column;
    /* padding: 0 50px; */
    margin: 0 0;
    height: 4800px;
    width: 100%;
    vertical-align: top;
    align-items: center;
    justify-content: start;
    position: absolute;
    margin-bottom: 20px;
}

.introduction .img {
    position: absolute;
    margin-top: -250px ;
    z-index: -1;
    height: 1100px;
    align-self: center;
    animation: fade-in linear;
    animation-timeline: view();
}

@keyframes fade-in {
    from {scale: 0.8; opacity: 1;}
    to {scale: 1.5; opacity: 0.1;}
}

.introduction .text h2 {
    margin-top: 150px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 10px;
}

.introduction .text p {
    margin: 20px 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    letter-spacing: -1px;
    line-height: 95%;
    font-size: 60px;
    font-weight: 700;
    color: var(--text-color1);
}

.introduction .text p .highlight {
    color: var(--text-color2);
}


.introduction .text4 {
    margin-top: 250px;
    text-align: left;
    height: 750px;
    width: 100%;
    padding: 100px 0;
    background-color: var(--text-color3);
}

.introduction .text4 h1 {
    margin: 0 150px;
    margin-bottom: 100px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 10px;
    color: var(--text-color1);
}

.introduction .text4 h2 {
    margin: 0 150px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 10px;
    color: var(--text-color2);
}

.fixed {
    position: fixed;
}

.introduction .text4 img {
    display: flex;
    width: 750px;
    margin-left: 500px;
    margin-top: -600px;
    justify-content: end;
    align-content: end;
    z-index: -1;
}

.introduction .text4 p {
    margin: 0 150px;
    margin-top: 30px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: -1px;
    line-height: 95%;
    font-size: 50px;
    font-weight: 700;
    color: var(--text-color1);
}

.introduction .text4 h3 {
    margin: 0 150px;
    margin-top: 30px;
    margin-right: 250px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: -1px;
    line-height: 175%;
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color1);
}

.introduction .text4 h3 .highlight {
    color: var(--text-color2);
    font-weight: 700;
}

.introduction .text4 .holder {
    margin-top: -250px;
    text-align: left;
    height: 700px;
    width: 100%;
    padding: 100px 0;
    background-color: var(--text-color3);
    border-top: 5px dashed var(--text-color1);
}

.introduction .text4 .holder h3 {
    margin: 0 150px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 10px;
    color: var(--text-color1);
}

.btn {
    margin-top: 150px;
    padding: 20px 25px;
    outline: none;
    background-color: var(--text-color3b);
    border-style: 40px solid var(--text-color1b);
    font-size: 40px;
    height: 150px;
    font-weight: 700;
    color: var(--text-color1b);
    cursor: pointer;
    border-radius: 250px;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--text-color1b);
    color: var(--text-color3);
}

.btn-disabled {
    background-color: var(--text-color3b);
    color: var(--text-color1);
    border-style: 0px solid var(--text-color1);
    cursor: default;
}

.introduction .text4 .holder .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 150px 50px;
}

.introduction .text4 .holder .main_holder {
    padding: 35px 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

.introduction .text4 .holder .main_holder .holder2 {
    display: grid;
    vertical-align: middle;
    margin: 0 25px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 250px;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0;
    line-height: 95%;
    font-size: 20px;
    font-weight: 700;
    color: var(--text-color1);
    background-color: var(--text-color3b);
    border-radius: 15px;
    border: var(--text-color1);
    transition: 0.4s;
}

.introduction .text4 .holder .main_holder .holder1 {
    display: grid;
    vertical-align: middle;
    margin: 0 25px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 600px;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0;
    line-height: 95%;
    font-size: 20px;
    font-weight: 700;
    color: var(--text-color1);
    background-color: var(--text-color3b);
    border-radius: 15px;
    border: var(--text-color1);
    transition: 0.4s;
}

.introduction .text4 .holder .main_holder .holder2 h4 {
    padding: 5px 0;
    margin: 0 25px;
    text-align: center;
}

.introduction .text4 .holder .main_holder .holder2 p {
    padding: 10px 0;
    margin: 0 5px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 15px;
    display: none;
    color: var(--text-color3);
    transition: 0.4s;
}

.introduction .text4 .holder .main_holder .holder2 img {
    height: auto;
    width: 260px;
    margin-left: 0;
    margin-top: 0;
    align-items: center;
    vertical-align: middle;
    padding: 0 0;
    transition: 0.3s;
    z-index: 0;
}

.introduction .text4 .holder .main_holder .holder1 img {
    margin-left: 0;
    margin-top: 0;
    height: auto;
    width: 600px;
    align-items: center;
    vertical-align: middle;
    padding: 0 0;
    transition: 0.3s;
    z-index: 0;
}

.introduction .text4 .holder .main_holder .holder2:hover {
    color: var(--text-color3);
    background-color: var(--text-color1);
    font-size: 25px;
    box-shadow: 0 0 10px 5px rgba(113,43,43,0.5);
}

.introduction .text4 .holder .main_holder .holder1:hover {
    color: var(--text-color3);
    background-color: var(--text-color1);
    font-size: 25px;
    box-shadow: 0 0 10px 5px rgba(113,43,43,0.5);
}

.introduction .text4 .holder .main_holder .holder2:hover img {
    width: 280px;
}

.introduction .text4 .holder .main_holder .holder1:hover img {
    width: 620px;
}

.introduction .text4 .holder .main_holder .holder2:hover p {
    display: contents;
}

.introduction .text5 .img {
    margin-top: -350px;
    margin-left: -25px;
    padding: 0 0;
    position: absolute;
    z-index: -1;
    height: 1000px;
    vertical-align: top;
    width: 120%;
    animation: fade-in linear;
    animation-timeline: view();
    overflow: hidden;
}

.introduction .text5 {
    margin-top: 450px;
    text-align: left;
    height: 1050px;
    width: 100%;
    padding: 100px 0;
}

.introduction .text5 h2 {
    margin: 0 150px;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 10px;
}

.introduction .text5 .heading {
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin: 25px 0;
    padding: 95px 0;
    height: fit-content;
    font-family: 'Raleway', sans-serif;
    letter-spacing: -1px;
    line-height: 95%;
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color1);
    background-color: var(--text-color3);
    background-color: rgba(113,43,43,0.1);
    transition: 0.3s;
}

.introduction .text5 .heading h3 {
    margin-left: 150px;
    vertical-align: middle;
    transition: 0.1s;
}

.introduction .text5 .heading p {
    display: flex;
    margin: 0 150px;
    margin-top: 50px;
    margin-right: 250px;
    vertical-align: middle;
    color: var(--text-color1);
    font-size: 25px;
    line-height: 110%;
    letter-spacing: 0;
    transition: 0.3s;
}

.introduction .text5 .heading:hover {
    color: var(--text-color3);
    background-color: var(--text-color1);
}

.introduction .text5 .heading:hover p {
    color: var(--text-color3);
}

.introduction .text3 h2 {
    display: flex;
    margin: 0 150px;
    margin-bottom: 25px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 10px;
    color: var(--text-color1);
}

.introduction .text3 .imagee {
    margin-top: -725px;
    margin-left: -60px;
    padding: 0 0;
    position: absolute;
    height: 865px;
    vertical-align: top;
    width: 120%;
    overflow: hidden;
}


.introduction .text3 .imagee .img {
    padding: 0 0;
    position: absolute;
    z-index: -1;
    height: 100%;
    vertical-align: top;
    width: 100%;
    animation: fade-in linear;
    animation-timeline: view();
}

.introduction .text3 {
    margin-top: 450px;
    text-align: left;
    height: 1050px;
    width: 100%;
    padding: 100px 0;
}

.introduction .text3 h2 {
    margin: 0 150px;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 10px;
}

.introduction .text3 .heading {
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin: 25px 0;
    padding: 95px 0;
    height: fit-content;
    font-family: 'Raleway', sans-serif;
    letter-spacing: -1px;
    line-height: 95%;
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color1);
    background-color: var(--text-color3);
    background-color: rgba(113,43,43,0.1);
    transition: 0.3s;
}

.introduction .text3 .heading h3 {
    margin-left: 150px;
    vertical-align: middle;
    transition: 0.1s;
}

.introduction .text3 .heading p {
    display: flex;
    margin: 0 150px;
    margin-top: 50px;
    margin-right: 250px;
    vertical-align: middle;
    color: var(--text-color1);
    font-size: 25px;
    line-height: 110%;
    letter-spacing: 0;
    transition: 0.3s;
}

.introduction .text3 .heading:hover {
    color: var(--text-color3);
    background-color: var(--text-color1);
}

.introduction .text3 .heading:hover p {
    color: var(--text-color3);
}


footer {
    display: flex;
    justify-content: center;
    padding: 75px 50px;
    height: 350px;
    width: 100%;
    background-color: var(--text-color3);
}

footer .text6 h2 {
    color: var(--text-color1);
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 10px;
    margin-bottom: 25px;
}

footer .text6 .footer_links a {
    color: var(--text-color1);
    vertical-align: top;
    margin: 10px 25px;
    letter-spacing: 0px;
    font-size: 25px;
    font-weight: 700;
    transition: 0.3s;
}

footer .text6 .footer_info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 25px 25px;
    padding-top: 100px;
    transition: 0.3s;
}

footer .text6 .footer_info h3 {
    color: var(--text-color2);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 25px;
}

footer .text6 .footer_info h4 {
    color: var(--text-color2);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0;
    margin-left: 25px;
}

footer .text6 .footer_links a:hover {
    color: var(--text-color1b);
}


@media (max-width: 600px) {
    /* NAVBAR */

    nav {
        padding: 0 20px;
    }

    nav .right a {
        font-size: 22px;
    }

    nav .right a:last-child {
        color: var(--text-color1);
    }

    nav .right a span {
        display: none;
    }


    /* SECTION 1 */

    .introduction .img {
        position: absolute;
        z-index: -1;
        height: 700px;
        align-self: center;
    }
}